
	.jstree-checkbox {
    display: none !important;
	}
	
	.jstree-node .jstree-anchor {
           font-size:0.7em; /* 원하는 글씨 크기로 변경 */
     }	
	
	
	.rightArrow{
		background: url("../../img/approval_img/rightArrow.png");
		background-repeat: no-repeat;
		width: 52px;
		height:52px;
		border: none;
	}
	
	.leftArrow{
		background: url("../../img/approval_img/leftArrow.png");
		background-repeat: no-repeat;
		width: 52px;
		height:52px;
		border: none;
	}
	
	.removeLineBtn{
		background: url("../../img/approval_img/xIcon.png");
		background-repeat: no-repeat;
		width: 17px;
		height: 17px;
		border: none;
	}
	
	
/* 	Tree에서 사용  */
	.approval-line-table{
		font: 0.8em sans-serif; 
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

	.approval-line-table>thead{
		background: #F2F2F2;
	}
	
	
     
	.approval-drafter-info{
		width: 250px;
		margin: 0;
    margin-top: 32px;
	}
	
	.approval-table{
		vertical-align: middle;
		border: 1px solid #dfdfdf;
	}
	
	.approval-table th {
		width: 80px;background: #F2F2F2;font: 0.8em sans-serif; font-weight: bold;
		text-align: center;
	}
	
	.approval-table td {
		font: 0.8em sans-serif;
	}
	.approval-searchBox{
		width: 100%;
	    border: 0.7px solid gainsboro;
	    border-radius: 3px;
	    padding: 5px;
	    min-width: 250px;
	    
	    display: flex;
	    align-items: center;
	    box-sizing: border-box;
	}
	
	.approval-searchContent{
		width: 100%;
	    border: 0.7px solid gainsboro;
	    border-radius: 3px;
	    padding: 5px;
	    min-width: 250px;
	    height: 600px;
	}
	.search-p{
		margin: 0;
		font: 0.8em sans-serif;
		
	}
	.search-list{
		list-style: none;
	}
	
	.search-div{
		padding: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	
	.search-div:hover{
		cursor: pointer;
		background: #F2F2F2;
		font-weight: bolder;
		background-image: url("../../img/approval_img/write.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: right;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	.search-div-selected{
		cursor: pointer;
		background: #F2F2F2;
		font-weight: bolder;
	}
	
	
	#search-input{
		width: 220px;
		flex: 1;
		border: none;
		box-sizing: border-box;
	}
	
	.approval-input{
	    margin-right: 10px;
		padding: 5px;
		padding-left : 10px;
	    border-radius: 8px;
	    border: 1px solid #cccccc;
	    font-size: 0.9em;
	    width: 100%;
	    
	}
	
	.approval-input::placeholder{
		color: #cccccc;
		vertical-align: middle;
		font-weight: 0.8em;
	}
	
	
	 .badge-sm {
	      font-size: 0.75rem; /* Smaller font size */
	      padding: 0.25em 0.4em; /* Adjust padding */
    }
	
	
/* 	/* 결재 서명 table*/ 
/* 	.approval-line-signature-table { */
/* 	    width: 100%; */
/* 	    border-collapse: collapse; Ensures borders collapse into a single border */
/* 	    margin: 0; */
/* 	} */
	
/* 	.approval-line-signature-table th, .approval-line-signature-table td { */
/* 	    padding: 8px; */
/* 	    text-align: center; */
/* 	} */
	
/* 	/* Merged column styling */ 
/* 	.approval-line-signature-table .unique-merged-column { */
/* 	    background-color: #F2F2F2; */
/* 	} */
	
/* 	.unique-merged-column{ */
/* 		width: 35px; */
/* 	} */
	
/* 	/* Narrow row height styling for specific rows */ 
/* 	.approval-line-signature-table thead  */
/* 	.approval-line-signature-table thead { */
/* 	    height: 30px; Adjust height as needed */
/* 	} */
	
/* 	.approval-line-signature{ */
/* 		height: 100px; */
/* 	} */
	
/* 	.approval-line-signature-table tbody .unique-row-1, */
/* 	.approval-line-signature-table tbody .unique-row-3 { */
/* 	    height: 30px; Adjust height as needed */
/* 	} */
	
/* 	/* Header and subheader styling */ 
/* 	.approval-line-signature-table .approval-line-rank { */
/* 	    background-color: #F2F2F2; */
/* 	    padding:2px; */
/* 	    font-size:0.7em; */
/* 	} */
	
/* 	.approval-line-signature-table .approval-line-name { */
/* 	    background-color: #F2F2F2; */
/* 	    padding:2px; */
/* 	    font-size:0.7em; */
/* 	} */
	
/* 	.approval-line-approvalDate{ */
/* 		border-top: 1px solid white !important; */
/* 		font-size: 0.6em; */
/* 		padding: 0px !important; */
/* 	} */
	
/* 	결재서명 div */
	.approval-line-signature{
		display:inline-block; padding: 0; font:0.8em sans-serif; text-align: center; vertical-align: middle;
	}
	
	.businessTrip-table td {
	height: 33px;
	}

	
/* 사인*/
